<nav class="navbar navbar-default">

    <div ng-show="ADD_SERVICE.success"  class="col-sm-4 col-sm-offset-3 text-center mainssc"  style="font-size:14px;font-weight:bold;padding:2px 2px;position:fixed;top:0px;z-index: +99999;">
        <span class="text-center">{{ADD_SERVICE.successmsg}}</span>
    </div>

    <div ng-show="ADD_SERVICE.error"  class="col-sm-4 col-sm-offset-4 text-center mainerr"  style="font-size:14px;font-weight:bold;padding:2px 2px;position:fixed;top:0px;z-index: +99999;">
        <span class="text-center">{{ADD_SERVICE.errormsg}}</span>
    </div>

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Affixus</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="cursor: pointer;">
                <li><a ng-click="msgcall()">errmsgcall</a></li>
                <li><a ng-click="nmsgcall()">Succmsgcall</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a type="submit" class="btn btn-primary" ng-click="logout()" style="color:#fff;">LOG OUT</a></li>
                <li><a type="submit" class="btn btn-primary" ng-click="adminlogin()" style="color:#fff;">ADMIN</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>