
<div class="col-sm-4">
	<form name="">
	<h3 class="text-center bg-primary" style="padding: 10px;">Login Here</h3>
	  <div class="form-group">
	    <label>Email address</label>
	    <input type="email" class="form-control" placeholder="Email">
	  </div>
	  <div class="form-group">
	    <label>Password</label>
	    <input type="password" class="form-control" placeholder="Password">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>

<div class="col-sm-4">
<img src="https://cdn.shopify.com/s/files/1/1108/2042/t/2/assets/Order-Online.png?6065483926409210505" class="img-responsive"/>

</div>

<div class="col-sm-4" style="background-color:rgba(128, 128, 128, 0.44);;padding:12px;border-radius:10px;">
	<form name="">
	<h3 class="text-center bg-primary" style="padding: 10px;">Login Here</h3>
	  	
	
	  <div class="form-group">
	    <label>Name</label>
	    <input type="text" class="form-control" ng-model="user.name" placeholder="Vipin yadav">
	  </div>
	  <div class="form-group">
	    <label>Mobile</label>
	    <input type="text" class="form-control" ng-model="user.mobile" placeholder="9769939005">
	  </div>
	  <div class="form-group">
	    <label>Email</label>
	    <input type="text" class="form-control" ng-model="user.mail" placeholder="vkyadav998@gmail.com">
	  </div>
	  <div class="form-group">
	    <label>Subject</label>
	    <input type="text" class="form-control" ng-model="user.subject" placeholder="">
	  </div>
	  <div class="form-group">
	    <label>Type</label>
	    <input type="text" class="form-control" ng-model="user.type" placeholder="">
	  </div>
	  <div class="form-group">
	    <label>Choose Password</label>
	    <input type="password" class="form-control" ng-model="user.password"placeholder="Password">
	  </div>
	  
	  <button type="submit" class="btn btn-default" ng-click="register()">Submit</button>
	</form>
</div>