<header></header>
<div class="col-sm-6">
	<h3 class="text-center bg-primary" style="padding: 10px;">Login Here</h3>
	<form name="mylogin" novalidate>
	  <div class="form-group">
	    <label>Email address</label>
	    <input type="email" class="form-control"  ng-model="check.email">
	  </div>
	  <div class="form-group">
	    <label>Password</label>
	    <input type="password" class="form-control"  ng-model="check.password">
	  </div>
	  <button type="submit" class="btn btn-default" ng-click="login()">Submit</button>

	</form>

</div>

<div class="col-sm-6" style="background-color:rgba(128, 128, 128, 0.44);;padding:12px;border-radius:10px;">
	<form name="myform">

	</form>
	<form name="myform" novalidate>
	<h3 class="text-center bg-primary" style="padding: 10px;">Login Here</h3>


	  <div class="form-group" ng-class="{'has-error':( myform.username.$touched && myform.username.$invalid)||(myform.username.$invalid && submitreg)}">
	    <label>Name</label>
	    <input type="text" class="form-control" ng-model="user.name"  name="username" required>
		  <p class="required" ng-show="( myform.username.$touched && myform.username.$invalid )||(myform.username.$invalid && submitreg) ">this field is required</p>
	  </div>
	  <div class="form-group" ng-class="{'has-error':( myform.mobile.$touched && myform.mobile.$invalid)||(myform.mobile.$invalid && submitreg)}">
	    <label>Mobile</label>
	    <input type="number" class="form-control" ng-model="user.mobile" required  name="mobile">
		<p class="required" ng-show="( myform.mobile.$touched && myform.mobile.$invalid)||(myform.mobile.$invalid && submitreg)">this field is required</p>
	  </div>
	  <div class="form-group" ng-class="{'has-error':( myform.email.$touched && myform.email.$invalid)||(myform.email.$invalid && submitreg)}">
	    <label>Email</label>
	    <input type="email" class="form-control" ng-model="user.email" required  name="email">
		<p class="required" ng-show="( myform.email.$touched && myform.email.$invalid)||(myform.email.$invalid && submitreg) ">this field is required</p>
	  </div>
	  <div class="form-group" ng-class="{'has-error':( myform.subject.$touched && myform.subject.$invalid)||(myform.subject.$invalid && submitreg)}">
	    <label>Subject</label>
	    <input type="text" class="form-control" ng-model="user.subject" required  name="subject">
		<p class="required" ng-show="( myform.subject.$touched && myform.subject.$invalid)||(myform.subject.$invalid && submitreg) ">this field is required</p>
	  </div>
	  <div class="form-group" ng-class="{'has-error':( myform.type.$touched && myform.type.$invalid)||(myform.type.$invalid && submitreg)}">
	    <label>Type</label>
	    <input type="text" class="form-control" ng-model="user.type" required  name="type">
		<p class="required" ng-show="( myform.type.$touched && myform.type.$invalid)||(myform.type.$invalid && submitreg) ">this field is required</p>
	  </div>
	  <div class="form-group" ng-class="{'has-error':( myform.password.$touched && myform.password.$invalid)||(myform.password.$invalid && submitreg)}">
	    <label>Choose Password</label>
	    <input type="password" class="form-control" ng-model="user.password" required  name="password">
		<p class="required" ng-show="( myform.password.$touched && myform.password.$invalid)||(myform.password.$invalid && submitreg) ">this field is required</p>
	  </div>
		<div class="form-group" ng-class="{'has-error':( myform.date_delivered.$touched && myform.date_delivered.$invalid)||(myform.date_delivered.$invalid && submitreg)}">
			<label>Select Date</label>
			<datepicker date-format="MM-dd-yyyy" date-set="{{user.date | date:'medium'}}">
				<input class="form-control angular-datepicker-input" ng-model="user.date" type="text" name="date_delivered" required>
			</datepicker>
			<p class="required" ng-show="( myform.date_delivered.$touched && myform.date_delivered.$invalid)||(myform.date_delivered.$invalid && submitreg) ">this field is required</p>
		</div>


		<!--<div>
			<div class="datepicker"
				 date-set-hidden="true"
				 datepicker-append-to="body"
				 date-format="MM-dd-yyyy"
				 date-set="05-05-2016"
				 date-min-limit="05-04-2016"
				 date-max-limit="05-06-2016"
				 date-typer="true"
				 date-disabled-dates="['05-04-2016', '05-07-2016' ]"
				 button-prev='<i class="fa fa-arrow-circle-left"></i>'
				 button-next='<i class="fa fa-arrow-circle-right"></i>'>
				<input ng-model="date1" type="text" class="angular-datepicker-input"/>
			</div>
		</div>-->

	  <button type="submit" class="btn btn-default" ng-click="register(myform,submitreg)">Submit</button>
	</form>
</div>